@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="main">
    <div class="top-row px-4">
        <h4>Welcome</h4>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
}
