[*.cs]

# CS8603: Mögliche Nullverweisrückgabe.
dotnet_diagnostic.CS8603.severity = none
csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:silent
csharp_style_expression_bodied_indexers = true:silent
csharp_style_expression_bodied_accessors = true:silent
csharp_style_expression_bodied_lambdas = true:silent
csharp_style_expression_bodied_local_functions = false:silent

[*.{cs,vb}]
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggestion
dotnet_style_operator_placement_when_wrapping = beginning_of_line
end_of_line = crlf
tab_width = 4
indent_size = 4
[*.cs]
#### Benennungsstile ####

# Benennungsregeln

dotnet_naming_rule.interface_should_be_begins_with_i.severity = suggestion
dotnet_naming_rule.interface_should_be_begins_with_i.symbols = interface
dotnet_naming_rule.interface_should_be_begins_with_i.style = begins_with_i

dotnet_naming_rule.types_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.types_should_be_pascal_case.symbols = types
dotnet_naming_rule.types_should_be_pascal_case.style = pascal_case

dotnet_naming_rule.non_field_members_should_be_pascal_case.severity = suggestion
dotnet_naming_rule.non_field_members_should_be_pascal_case.symbols = non_field_members
dotnet_naming_rule.non_field_members_should_be_pascal_case.style = pascal_case

# Symbolspezifikationen

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.types.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.types.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.types.required_modifiers = 

dotnet_naming_symbols.non_field_members.applicable_kinds = property, event, method
dotnet_naming_symbols.non_field_members.applicable_accessibilities = public, internal, private, protected, protected_internal, private_protected
dotnet_naming_symbols.non_field_members.required_modifiers = 

# Benennungsstile

dotnet_naming_style.begins_with_i.required_prefix = I
dotnet_naming_style.begins_with_i.required_suffix = 
dotnet_naming_style.begins_with_i.word_separator = 
dotnet_naming_style.begins_with_i.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case

dotnet_naming_style.pascal_case.required_prefix = 
dotnet_naming_style.pascal_case.required_suffix = 
dotnet_naming_style.pascal_case.word_separator = 
dotnet_naming_style.pascal_case.capitalization = pascal_case
csharp_indent_labels = one_less_than_current
csharp_space_around_binary_operators = before_and_after
csharp_style_prefer_null_check_over_type_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion

[*.vb]
#### Benennungsstile ####

# Benennungsregeln

dotnet_naming_rule.interface_should_be_beginnt_mit_i.severity = suggestion
dotnet_naming_rule.interface_should_be_beginnt_mit_i.symbols = interface
dotnet_naming_rule.interface_should_be_beginnt_mit_i.style = beginnt_mit_i

dotnet_naming_rule.typen_should_be_pascal_schreibweise.severity = suggestion
dotnet_naming_rule.typen_should_be_pascal_schreibweise.symbols = typen
dotnet_naming_rule.typen_should_be_pascal_schreibweise.style = pascal_schreibweise

dotnet_naming_rule.nicht_feldmember_should_be_pascal_schreibweise.severity = suggestion
dotnet_naming_rule.nicht_feldmember_should_be_pascal_schreibweise.symbols = nicht_feldmember
dotnet_naming_rule.nicht_feldmember_should_be_pascal_schreibweise.style = pascal_schreibweise

# Symbolspezifikationen

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.interface.required_modifiers = 

dotnet_naming_symbols.typen.applicable_kinds = class, struct, interface, enum
dotnet_naming_symbols.typen.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.typen.required_modifiers = 

dotnet_naming_symbols.nicht_feldmember.applicable_kinds = property, event, method
dotnet_naming_symbols.nicht_feldmember.applicable_accessibilities = public, friend, private, protected, protected_friend, private_protected
dotnet_naming_symbols.nicht_feldmember.required_modifiers = 

# Benennungsstile

dotnet_naming_style.beginnt_mit_i.required_prefix = I
dotnet_naming_style.beginnt_mit_i.required_suffix = 
dotnet_naming_style.beginnt_mit_i.word_separator = 
dotnet_naming_style.beginnt_mit_i.capitalization = pascal_case

dotnet_naming_style.pascal_schreibweise.required_prefix = 
dotnet_naming_style.pascal_schreibweise.required_suffix = 
dotnet_naming_style.pascal_schreibweise.word_separator = 
dotnet_naming_style.pascal_schreibweise.capitalization = pascal_case

dotnet_naming_style.pascal_schreibweise.required_prefix = 
dotnet_naming_style.pascal_schreibweise.required_suffix = 
dotnet_naming_style.pascal_schreibweise.word_separator = 
dotnet_naming_style.pascal_schreibweise.capitalization = pascal_case
