@using MonoGame.Forms.NET.Controls;
@using MonoGame.Forms.NET.Samples.Tests.Container;

@page "/multiple"

@inject MonoGameControlPanel ControlPanel

<div class="alert alert-info" role="alert">
    Select one of the sample projects above!
</div>

<style>
    body {
        background-color: @BackgroundColor;
    }
</style>

@code {
    public MonoGameControl Control { get; set; }
    public string BackgroundColor = Color.CornflowerBlue.Name;

    protected override void OnInitialized()
    {
        var container = ControlPanel.InitializeMonoGameControl(MonoGameControlPanel.ControlKeys.Multiple) as SplitContainer;
        Control = container.Panel1.Controls[0] as MonoGameControl;
        if (Control != null && Control.Editor != null)
        {
            Color color = Color.FromArgb(
                Control.Editor.BackgroundColor.A,
                Control.Editor.BackgroundColor.R,
                Control.Editor.BackgroundColor.G,
                Control.Editor.BackgroundColor.B);

            BackgroundColor = ColorTranslator.ToHtml(color);
        }
        base.OnInitialized();
    }
}
